body {
	font-family: Ubuntu, Calibri, sans-serif;
	font-size: 1em;
	color: #333;
	background-color: white;
}
header h1 {
	font-size: 3.5em;
}
#container {
	width: 80%;
	max-width: 1000px;
	margin: 0 auto 0 auto;
}
article img {
	width: 100%;
	margin: 1em 0 1em 0;
}
article p {
	text-align: justify;
	text-justify: inter-word
}
ul.postlist, ul.archivelist {
	list-style: none;
}
h1 {
	color: crimson;
}
h1 a {
	text-decoration: none;
	color: crimson;
}
a {
	color: crimson;
}
header #byline {
	font-size: 0.8em;
	margin-top: -1.6em;
	margin-bottom: 3em;
}
.ytvid {
	position: relative;
	width: 100%;
	height: 0;
	padding-bottom: 56.25%;
}

.video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
